:root{
    --accent:rgb(240, 79, 15);
    --mainwidth: 300px;
}

body{
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    font-family:"Montserrat";
}

main{
    background-color:rgb(0, 0, 0);
    display:flex;
    flex-direction:column;
    height:100vh;
    width:60vh;
}

a, a:hover, a:active{text-decoration:none;}

header{
    background-image:url(assets/header_img.jpg);
    background-size:cover;
    height:70%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    box-sizing:border-box;
    padding:3em;
}

section{
    background-color:white;
    height:30%;
    padding:3em;
}

article{ 
display:flex;
width:100%;
flex-direction:column;
justify-content:space-between;
height: 100%;
flex-wrap:wrap;
}

h1{
color:white;
padding:0;
margin:0;
width:13ch;
font-size:2rem;
}

h1::after{
    content:" ";
    background-color: rgb(240, 79, 15);
    display:block;
    margin-top:10px;
    height:2px;
    width:4em;
    position:absolute;
}

h2{
    color:var(--accent);
    font-weight:lighter;
}

h3{
 font-size:16px;
 border-bottom:1px solid black;
 width:fit-content;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

ul.stats{
    display:flex;
    flex-direction:column;
    align-content:space-between;
    height:100%;
}
ul.stats li{
    display:flex;
    flex-direction:column;
    color:#999090;
    text-align:right;
    height:40%;
}

.number{
    font-size:50px;
    font-weight:lighter;
    color:black;
}

p{
    width:var(--mainwidth);
    height:80px;
    margin:0;
    padding:0;
}

ul.socials, ul.links, p, h3{ 
    flex-wrap:nowrap;
    }
ul.socials{
    display:flex; 
    flex-direction:row;
    width:var(--mainwidth);
}

ul.socials li{
   margin:0.4em;
}
ul.socials a{
    color:#929292;
    font-size:1.5em;
}

ul.links{
    display:flex; 
    flex-direction:row;
    justify-content:space-between;
    width:var(--mainwidth);
}

ul.links li{
    text-transform:capitalize;
    background-color:white;
    border:1px solid var(--accent);
    padding:1em;
    border-radius:100px;
    width:150px;
    text-align:center;
}

ul.links li:first-child{
    background-color:var(--accent);
    box-shadow:10px 10px 10px #999090;
}

ul.links li:first-child a{
   color:white;
}

ul.links li:last-child{ 
    margin-left:2em;
}

ul.links a{
    color:var(--accent); 
}



 







:root{
    --accent:rgb(240, 79, 15);
}

body {
	background-color: black;
	display: grid;
	place-items: center;
	margin: 0;
	font-family: "Montserrat";
	height: 100vh;
	width: 100vw;
    overflow:hidden;
}

main {
	background-color: rgb(0, 0, 0);
	display: grid;
	grid-template-areas: "header" "section";
	grid-template-rows: 60% auto;
	height: 100%;
	width: 40em;
}

a, a:hover, a:active{text-decoration:none;}

header{
    background-image:url(assets/header_img.jpg);
    background-size:cover;
    display:grid;
    grid-area:header;
    box-sizing:border-box;
    padding:3em;
    align-content:end;
}

section{
    background-color:white;
    padding:3em;
    grid-area:section;
}

article {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: "title aside" "para aside" "socials aside" "links aside";
	grid-template-columns: 2fr 1fr;
}

h1{
    color:white;
    padding:0;
    margin:0;
    width:13ch;
    font-size:2rem;
}

h1::after{
    content:" ";
    background-color: rgb(240, 79, 15);
    display:block;
    margin-top:10px;
    height:2px;
    width:4em;
    position:absolute;
}

h2{
    color:var(--accent);
    font-weight:lighter;
}

h3{
 font-size:16px;
 grid-area: title;
 border-bottom:1px solid black;
 width:fit-content;

}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

ul.stats {
	grid-area: aside;
	display: grid;
	grid-template-rows: repeat(3,100px);
}

ul.stats li{
    color:#999090;
    text-align:right;
    display:grid;
    grid-template-rows:repeat(2, 1fr);
}

.number{
    font-size:50px;
    font-weight:lighter;
    color:black;
}

p{
    grid-area:para;
    height:80px;
    margin:0;
    padding:0;
}

ul.socials {
	grid-area: socials;
	display: grid;
	grid-template-columns: repeat(4,50px);
}

ul.socials li{
   margin:0.4em;
}
ul.socials a{
    color:#929292;
    font-size:1.5em;
    transition:0.5s;
}

ul.socials a:hover{color:var(--accent);
    transition:0.5s;}

ul.links{
    grid-area: links;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    height:20px;
    grid-gap:20px;
}

ul.links li{
    text-transform:capitalize;
    background-color:white;
    border:1px solid var(--accent);
    padding:1em;
    border-radius:100px;
    text-align:center;
    box-sizing:border-box;
}

ul.links li:first-child{
    background-color:var(--accent);
    box-shadow:10px 10px 10px #999090;
    transition:0.5s;
}

ul.links li:first-child a{
   color:white;
   transition:0.5s;}

ul.links a{
    color:var(--accent); 
}

ul.links li:first-child:hover{
    background-color:white;
    transition:0.5s;
 }

 ul.links li:first-child:hover a{
    color:var(--accent);
    transition:0.5s;
 }
 
 






