body{
    background-color:#efefef;
    display:grid;
    place-items:center;
    overflow:hidden;
    margin:auto;
    height:100vh;
    font-family: Verdana;
    color:#202020;
}

section{
    background-color:white;
    place-items:center;
    padding:2em;
    border-radius:5px;
    width:360px;
    background-image:url(assets/background.jpg);
    background-size:100% 120px;
    background-repeat:no-repeat;
    box-shadow: 0px 0px 10px rgb(192, 192, 192);
}

article{   
    display:grid;
    grid-template-areas:"head" "title" "infos" "socials";
    padding:2em;
    grid-template-rows: auto  auto auto;
}

img{
    width:150px;
    height:150px;
    margin:auto;
    border-radius:100px;
    border:2px solid white;
    box-shadow: 0px 0px 3px rgb(172, 172, 172);
}

h1{
    text-align:center;
    font-size:20px;
    font-family:tahoma;
    padding:1em;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}


ul.links{
    list-style-type:none;
    display:grid;
    grid-template-rows: repeat(4, 40px);
}

ul.links i{ margin-right: 10px;
}

ul.socials{
    list-style-type:none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    place-items:center;
    justify-content:center;
    align-content:end;
    height:100px;
}

ul.socials i{
    font-size:2em;
}

li:nth-of-type(1) a{
    color:rgb(9, 51, 61);
}

li:nth-of-type(2) a{
    color:rgb(39, 174, 236);
}

li:nth-of-type(3) a{
    color:rgb(0, 0, 0);
}

li:nth-of-type(4) a{
    color:rgb(109, 77, 146);
}