:root{
    --mainColor: #4a5759;
    --secondaryColor: #45423A;
    --thirdColor: #DEDBD2;
    --fourthColor: #B0C4B1;
}

body{
    background-color:var(--mainColor);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    margin:0;
    font-family:montserrat;
    position:relative;
    overflow:hidden;
}

body:after{
    display:block;
    content:" ";
    background:var(--fourthColor);
    transform:rotate(45deg);
    position:absolute;
    width:3000px;
    height:50%;
    z-index:1;
}

article{
    width:500px;
    border-radius:30px;
    position:relative;
    background-color:var(--secondaryColor);
    color: var(--thirdColor);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    position:relative;
    z-index:2;
    padding-bottom:50px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

article:before{
    display:block;
    content:" ";
    background:var(--fourthColor);
    position:absolute;
    width:101%;
    height:70px;
    z-index: 3;
    bottom:0;
    border-radius:0 0 30px 30px;
}

article:after{
    display:block;
    content:" ";
    background:var(--secondaryColor);
    position:absolute;
    width:98%;
    height:60px;
    z-index: 4;
    bottom:10px;
    border-radius:0 0 100px 100px;
}

ul::before{
    display:block;
    content:" ";
    background:var(--fourthColor);
    position:absolute;
    height: 8px;
    width:8px;
    z-index: 7;
    border-radius:100px;
    bottom:65px;
    left:-3px;
}

ul::after{
    display:block;
    content:" ";
    background:var(--fourthColor);
    position:absolute;
    height: 8px;
    width: 8px;
    z-index: 7;
    border-radius:100px;
    bottom:65px;
    right:-3px;
}

article > i{
    align-self:flex-start;
    margin:1.5em 1.5em;
    font-size:20px;
}

img{ 
width:200px;
height:200px;
border-radius:100%;
border:3px solid var(--fourthColor);
}

.bord{
    position:relative;
    height:230px;
}

.bord::after{
    content:" ";
    border:2px solid var(--fourthColor);
    display:block;
    box-sizing:border-box;
    height:220px;
    width:220px;
    border-radius:200px;
    position:absolute;
    top:-8px;
    left:-9px;
    clip-path:circle(205px at right center);

}

h1, h2{
    padding:0;
    margin:0;
}

h1{
    font-size:30px;
    letter-spacing:-1px;
    height:40px;
}

h2{
    font-size:20px;
    letter-spacing:-1px;
    height:30px;
    color:var(--fourthColor);

}

p{margin:0;
padding:1em 3em;
height:fit-content;
text-align:center;
}

a[href*="mail:"]{
    color:var(--secondaryColor);
    background-color:var(--thirdColor);
    padding:1em;
    border-radius:10px;
    width:250px;
    text-align:center;
    text-decoration:none;
}

ul{
    list-style-type:none;
    display:flex;
    width:80%;
    justify-content:space-evenly;
    padding:0;
    margin:0;
    align-self:center;
    align-items:center;
    height:100px;
    }
    
ul li a{
    color:var(--fourthColor);
    font-size: 25px;
}